@model Utilities.Models.Tenant

@{
    ViewData["Title"] = "EditTenant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditTenant</h2>

<h4>Tenant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTenant">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenantId" class="control-label"></label>
                <input asp-for="TenantId" class="form-control" readonly/>
                <span asp-validation-for="TenantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfTenant" class="control-label"></label>
                <input asp-for="NameOfTenant" class="form-control" />
                <span asp-validation-for="NameOfTenant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patronymic" class="control-label"></label>
                <input asp-for="Patronymic" class="form-control" />
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApartmentNumber" class="control-label"></label>
                <input asp-for="ApartmentNumber" class="form-control" />
                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPeople" class="control-label"></label>
                <input asp-for="NumberOfPeople" class="form-control" />
                <span asp-validation-for="NumberOfPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalArea" class="control-label"></label>
                <input asp-for="TotalArea" class="form-control" />
                <span asp-validation-for="TotalArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

