@model Utilities.ViewModels.PaymentsViewModel

@{
    ViewData["Title"] = "EditPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditPayment</h2>

<h4>PaymentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Payments.First().PaymentId" class="control-label"></label>
                <input asp-for="Payments.First().PaymentId" class="form-control" readonly/>
                <span asp-validation-for="Payments.First().PaymentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payments.First().TenantId" class="control-label"></label>
                <select asp-for="Payments.First().TenantId" class="form-control" asp-items="Model.TenantsList"></select>
                <span asp-validation-for="Payments.First().TenantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payments.First().RateId" class="control-label"></label>
                <select asp-for="Payments.First().RateId" class="form-control" asp-items="Model.RatesList"></select>
                <span asp-validation-for="Payments.First().RateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payments.First().Sum" class="control-label"></label>
                <input asp-for="Payments.First().Sum" class="form-control" />
                <span asp-validation-for="Payments.First().Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payments.First().DateOfPayment" class="control-label"></label>
                <input asp-for="Payments.First().DateOfPayment" class="form-control" />
                <span asp-validation-for="Payments.First().DateOfPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

